In [1]:
import pandas as pd

In [3]:
url = 'emissoes_CO2.xlsx'

In [5]:
dados_co2 = pd.read_excel(url)

In [7]:
dados_co2.head(10)

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afeganistão,AFG,1755,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afeganistão,AFG,1756,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afeganistão,AFG,1757,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afeganistão,AFG,1758,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afeganistão,AFG,1759,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
pd.ExcelFile(url).sheet_names

['emissoes_C02', 'emissoes_percapita', 'fontes']

In [11]:
dados_co2_percapita = pd.read_excel(url, sheet_name='emissoes_percapita')
dados_co2_percapita.head(10)

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afeganistão,AFG,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afeganistão,AFG,1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afeganistão,AFG,1757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afeganistão,AFG,1758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afeganistão,AFG,1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
dados_co2_fontes = pd.read_excel(url, sheet_name='fontes')

In [13]:
dados_co2_fontes.head(10)

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Oléo,Gás,Cimento,Queima,Outro,Per Capita
0,Afeganistão,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afeganistão,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afeganistão,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afeganistão,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afeganistão,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
5,Afeganistão,AFG,1755,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
6,Afeganistão,AFG,1756,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
7,Afeganistão,AFG,1757,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
8,Afeganistão,AFG,1758,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
9,Afeganistão,AFG,1759,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [14]:
intervalo = pd.read_excel(url, sheet_name=0, usecols='A:D')

In [15]:
intervalo.head(10)

          País ISO 3166-1 alpha-3   Ano  Total
0  Afeganistão                AFG  1750    0.0
1  Afeganistão                AFG  1751    0.0
2  Afeganistão                AFG  1752    0.0
3  Afeganistão                AFG  1753    0.0
4  Afeganistão                AFG  1754    0.0
5  Afeganistão                AFG  1755    0.0
6  Afeganistão                AFG  1756    0.0
7  Afeganistão                AFG  1757    0.0
8  Afeganistão                AFG  1758    0.0
9  Afeganistão                AFG  1759    0.0

In [16]:
intervalo2 = pd.read_excel(url, sheet_name=0, usecols='A:D', nrows=10)

In [18]:
intervalo2

          País ISO 3166-1 alpha-3   Ano  Total
0  Afeganistão                AFG  1750      0
1  Afeganistão                AFG  1751      0
2  Afeganistão                AFG  1752      0
3  Afeganistão                AFG  1753      0
4  Afeganistão                AFG  1754      0
5  Afeganistão                AFG  1755      0
6  Afeganistão                AFG  1756      0
7  Afeganistão                AFG  1757      0
8  Afeganistão                AFG  1758      0
9  Afeganistão                AFG  1759      0

In [19]:
dados_co2_percapita.to_excel('emissoes_percapita.xlsx', index=False)

In [20]:
pd.read_excel('emissoes_percapita.xlsx').head(10)

,País,ISO 3166-1 alpha-3,Ano,Total,Carvão,Óleo,Gás,Cimento,Queima,Outro
0,Afeganistão,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afeganistão,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afeganistão,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afeganistão,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afeganistão,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afeganistão,AFG,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afeganistão,AFG,1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afeganistão,AFG,1757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afeganistão,AFG,1758,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afeganistão,AFG,1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN